.profileContainer {
    font-size: 1rem;
    font-family: Poppins-Medium;
    position: relative;
    text-decoration: none;
    color: black; 
    text-align: flex-start;
    background: #EAF5F8;
    padding: 1rem; /* Padding to text */
    height: auto;
    min-height: 50rem; /* height of background page*/
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(../../../public/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(../../../public/fonts/Poppins-Bold.ttf);
}

.quote-container {
  margin: 1rem;
}

.quote-header {
  position: relative;
  height: 100%; /* Ensure the container has a height */
}

.email-text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
}

.logout-button {
  position: absolute;
  right: 10px; /* Adjust the right value as needed */
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #333; /* Set the color similar to the email text */
}

.quote-header {
  font-family: 'Poppins-Medium';
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  border-radius: 10px;
  padding: 2rem;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.quote-header label {
  color: #d9534f;
  font-family: 'Poppins-Bold';
  font-size: 1.5rem;
}

.quote-body {
  display: flexbox;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  margin-top: 2%;
}

.quote-title {
  color: #d9534f;
  margin-bottom: 1rem;
}


.quote-section {
  background: #ffffff;
  border-radius: 10px;
  margin-top: 1rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  overflow: hidden; /* This ensures that the child elements do not overflow the rounded corners */
}

.quote-section-header {
  background-color: #d9534f;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0; /* No margin to ensure it touches the edges */
  border-radius: 10px 10px 0 0; /* Only round the top corners */
}


.quote-detail {
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.quote-price {
  text-align: right;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

