.navbar {
    height: 0.1rem;
    width: 100vw;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to bottom, #FFFFFF, #EAF5F8); /* Light blue to white gradient */
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../../../public/fonts/Poppins-Medium.ttf);
}


.logo {
    object-fit: cover;
    height: 6rem;
    width: 13rem;
    margin: 1rem;
}

.menuItem {
    margin: 4rem;
    cursor: pointer;
    margin-left: auto;
    font-size: 1rem;
    font-family: Poppins-Medium;
    position: relative;
    text-decoration: none;
    color: black; 
}

.menuItem:hover::before {
    width: 100%;
}

.menuItem:hover {
    color: rgb(0, 122, 128);
}


