.quote-box {
  font-family: 'Poppins-Medium', sans-serif;
  width: 500px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab {
  padding: 10px;
  cursor: pointer;
  color: #000;
}

.tab.active {
  background-color: #C52D2A;
  color: #fff;
}

.quote-tab {
  margin-top: 20px;
  font-size: 10px;
  color: #000; /* Add a color value here */
}

.quote-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  margin-bottom: 20px;
  font-family: 'Poppins-Medium', sans-serif;
  font-weight: bold;
  margin-right: 20px;
  width: 100%;
  justify-content: space-between;
}

.form-group select {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group select:focus {
  outline: none;
  border: 1px solid #C52D2A;
}

.form-group .input-box {
  width: 200px;
  flex: 2;
  padding: 5px;
}

.ply-change {
  display: flex;
  margin-bottom: 20px;
  font-family: 'Poppins-Medium', sans-serif;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 10px;
  padding-left: 5px;
  text-align: center;
}

.form-group label {
  flex: 1;
  text-align: center;
  justify-content: center;
  margin-right: 10px;
  font-weight: bold;
  font-size: 16px;
}

.input-box {
  flex: 2;
  width: 300px;
  border: none;
}

.input-box[type = "checkbox"] {
 border: none;
}

.input-box select {
  width: 80%;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  border: none;
}

.input-box input,
.input-box select {
  background-color: white;
  border-radius: 5px;
  border: none;
 
  padding: 5px;
  width: 100%;
}

.input-box select:focus {
  outline: none;
  
}

.form-group label, .input-box input, .input-box select {
  margin: 0;
}

.quote-form button {
  background-color: #C52D2A;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.product-details-tab {
  background-color: white;
  color: #000;
  border: 1px solid #fa8072;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.product-details-tab label {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: normal;
  display: flex;
  justify-content: left;
}

.product-details-tab p {
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  justify-content: left;
}
